nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.226);
}
ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: inherit;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.image-container{
    position: relative;
    height: 700px;
}
.top-img{
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 1200px;
}
.header{
    background-image: url(images/hero-bg.jpg);
    background-position: center;
    min-height: 100vh;
}
.reservation{
    background-color: orange;
    padding: 7px;
    color: white;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}
.reservation:hover{
    background-color: aqua !important;
    color: black !important;
}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: -20px;
}
h2{
    margin-left: 100px;
    font-style: normal;
}
.dot{
    font-weight: bolder;
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top1-img{
    position: absolute;
    width: 790px;
    right: -80px;
    bottom: 1px;
}
.top2-img{
    position: absolute;
    right: 70px;
    bottom: 55px;
    width: 550px;
}
.firstline{
   position: absolute;
   top: 120px;
   color: orange;
   font-family: cursive;
   font-size: large;
   left: 80px;
}
.mainline{
    position: absolute;
    top: 138px;
    left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    font-weight: bolder;
    font-size: 40px;
}
.belowline{
    position: absolute;
    top: 370px;
    left: 80px;
    color: rgba(255, 228, 196, 0.708);
    font-weight: 300;
}
.booking{
    position: absolute;
    top: 440px;
    left: 80px;
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.booking:hover{
    background-color: white;
    color: blue;
}
.cards{
    display: flex;
    gap: 30px;
    justify-self: center;
    margin-top: 120px;
}
.card{
    width: 300px;
    height: 420px;
    background: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
}
.secondpage{
    background-color: rgba(255, 248, 220, 0.311);
    padding: 50px 0 0 0;
    margin-bottom: 0;
}
.icons{
    justify-content: center;
    margin-top: 30px;
}
.orange{
    position:absolute;
    bottom:-30px;
    left: 0;
    width:100%;
    height: 150px;
    background:orange;
    transform:skewY(-8deg);
}
.food-img{
    width:160px;
    height:160px;
    border-radius:50%;
    position:absolute;
    bottom:25px;
    left:50%;
    transform:translateX(-50%);
}
.bottom{
    width: 100%;
    display: block;
}
.white{
    width: 100%;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
}
.thirdcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 80px 100px;
    max-width: 1200px;
    margin: 0 auto;
}
.thirdpage{
    background-color: white;
    position: relative;
}
.thirdleft{
    position: relative;
    display: inline-block;
}
span{
    color: orange;
}
.burger{
    width: 450px;
}
.offer{
    position: absolute;
    top: -7px;
    left: -20px;
    width: 120px;
}
.thirdright{
    width: 500px;
}
.thirdright h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.thirdright p{
    color: gray;
}
.thirdright ul{
    display: block;
    margin-top: 30px;
    list-style: disc;
    padding-left: 20px;
}
.thirdright li{
    display: list-item;
    margin-bottom: 15px;
}
.thirdright button{
    margin-top: 30px;
    padding: 12px 30px;
    background: orange;
    color: white;
    border: none;
}
.thirdright button:hover{
    background: black;
}
.grey{
    width: 100%;
    display: block;
    margin-top: 80px;
    margin-bottom: -5px;
}
.fourthpage{
    background: rgba(255,248,220,0.311);
    padding:100px 80px;
    text-align:center;
}
.menuheading h4{
    color:orange;
    font-size:20px;
    margin-bottom:10px;
}
.menucard{
    background:white;
    padding:35px;
    border-radius:20px;
    transition:.3s;
    width: 250px;
    height: 400px;
    position: relative;
}
.menucard p{
    font-weight: bolder;
    text-align: left;
}
.menucard h6{
    text-align: left;
}
.menucard h5{
    color:orange;
    font-size:12px;
    text-align: left;
}
.menucard img{
    margin-top: 40px;
    width: 150px;
}
.smallbox{
    width: 45px;
    height: 20px;
    background: red;
    color: white;
    text-align: center;
}
.dollarstrike{
    color: gray;
    text-decoration: line-through;
}
.headcolor{
    color: orange;
}
.menuheading h1{
    font-size:45px;
    margin-bottom:40px;
}
.menubuttons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:60px;
}
.menubuttons button{
    padding:12px 28px;
    border:none;
    border-radius:30px;
    background:white;
    font-size:16px;
    transition:.3s;
}
.menubuttons .active{
    background:orange;
    color:white;
}
.menubuttons button:hover{
    background:orange;
    color:white;
}
.foodmenu{
    display:grid;
    grid-template-columns: repeat(3, 250px);
    gap: 150px;
    justify-content: center;
}
.menucard:hover{
    transform:translateY(-10px);
}
.menucard img{
    width:170px;
    margin-bottom:40px;
}
.curve{
    width:100%;
    display:block;
    transform:rotate(180deg);
    margin:0;
    padding:0;
    margin-bottom:-5px;
}
.fifthpage{
    background-image:url("images/hero-bg.jpg");
    background-size:cover;
    background-position:center;
    padding:0;
    margin:0;
    position:relative;
}
.fifthcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    gap: 40px;
}
.fifthleft{
    width:45%;
}
.fifthleft h1{
    color:white;
    font-size:56px;
    margin-bottom:25px;
}
.fifthleft span{
    color:orange;
}
.fifthleft p{
    color:rgb(200, 199, 199);
    font-size:17px;
    margin-bottom:35px;
}
.orderbutton{
    background:orange;
    color:white;
    border:none;
    padding:14px 32px;
    font-size:16px;
    font-weight:bold;
    transition:0.3s;
}
.orderbutton:hover{
    background:white;
    color:black;
}
.fifthright{
    width: 55%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burgeroffer{
    width: 700px;
    position: relative;
    right: -80px;
    top: 20px;
    height: 700px;
}
.offerbadge{
    position: absolute;
    width: 170px;
    top: 90px;
    left: 100px;
}
.curvesixth{
    width:100%;
    display:block;
}
.sixthpage{
    background: white;
    padding:0;
    position: relative;
    margin-top: 0;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
}
.sixthcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    gap: 40px;
}
.sixthleft{
    width:50%;
}
.sixthleft h1{
    color:rgb(0, 0, 0);
    font-size:46px;
    font: bolder;
    margin-bottom:25px;
    margin-left: 8px;
}
.sixthleft span{
    color: orange;
}
.sixthright{
    width:50%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.cloudsbg{
    width:300px;
    left: 50%;
}
.deliveryboy{
    position:absolute;
    width:330px;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    top: 7px;
}
.seventhmain{
    background: rgba(255,248,220,0.311);
    padding: 50px;
    position: relative;
}
.topsection{
    display: flex;
    margin-left: 20px;
    gap: 10px;
}
.seventhheading h4{
    text-align: center;
    color: red;
}
.seventhheading h1{
    text-align: center;
}
.seventhheading span{
    color: orange;
}
.seventhheading p{
    text-align: center;
}
.reviewcard{
    display: flex;
    gap: 30px;
    justify-self: center;
    margin-top: 120px;
}
.review{
    width: 400px;
    height: 280px;
    background: white;
    left: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
}
.review img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: left;
}
.review h3{
    color: gold;
}
.eighthpage{
    background: white;
    width: 100%;
    position: relative;
    padding: 150px;
}
.banner1 img{
    width: 700px;
    height: 470px;
}
.banner2 img{
    width: 350px;
    height: 225px;
    position: absolute;
    left: 870px;
    top: 150px;
}
.banner3 img{
    width: 350px;
    height: 225px;
    position: absolute;
    left: 1240px;
    top: 150px;
}
.banner4 img{
    width: 720px;
    height: 225px;
    position: absolute;
    left: 870px;
    top: 390px;
}
.banner1{
    position: relative;
}
.banner1 h1{
    position: absolute;
    top: 110px;
    left: 15px;
}
.banner1 h4{
    position: absolute;
    top: 240px;
    left: 15px;
}
.eightbutton1{
    position: absolute;
    top: 300px;
    left: 15px;
    color: white;
    background-color: orange;
    padding:10px 22px;
    border: none;
}
.eightbutton1:hover{
    color: black;
    background-color: white;
}
.banner2 h1{
    position:absolute;
    top:160px;
    left:900px;
    color:white;
}
.banner2 h4{
    position:absolute;
    top:250px;
    left:900px;
    color:white;
}
.eightbutton2{
    position:absolute;
    top:300px;
    left:900px;
    color:white;
    background-color:orange;
    padding:10px 20px;
    border:none;
}
.eightbutton2:hover{
    color: black;
    background-color: white;
}
.banner3 h1{
    position:absolute;
    top:160px;
    left:1270px;
    color:white;
}
.banner3 h4{
    position:absolute;
    top:250px;
    left:1270px;
    color:white;
}
.eightbutton3{
    position:absolute;
    top:300px;
    left:1270px;
    color:white;
    background-color:orange;
    padding:10px 20px;
    border:none;
}
.eightbutton3:hover{
    color: black;
    background-color: white;
}
.banner4 h1{
    position:absolute;
    top:400px;
    left:1350px;
    color:white;
}
.banner4 h4{
    position:absolute;
    top:470px;
    left:1350px;
    color:white;
}
.eightbutton4{
    position:absolute;
    top:520px;
    left:1350px;
    color:white;
    background-color:orange;
    padding:10px 20px;
    border:none;
}
.eightbutton4:hover{
    color: black;
    background-color: white;
}
.ninthpage{
    background: rgba(255,248,220,0.311);
    position: relative;
    padding-bottom: 100px;
}
.ninthheadings{
    text-align: center;
    padding-top: 50px;
}
.ninthheadings h4{
    color: red;
}
.ninthheadings span{
    color: orange;
}
.ninthcard{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
.card9{
    width: 380px;
    height: 450px;
    background-color: white;
    position: relative;
}
.card9 img{
    width: 380px;
    height: 215px;
}
.button9{
    color: white;
    background-color: orange;
    position: absolute;
    left: 280px;
    top: 15px;
    padding: 5px 10px;
    border: none;
}
.button9:hover{
    color: black;
    background-color: white;
}
.bloginfo{
    display: flex;
    gap: 30px;
    margin-left: 30px;
}
.blogheading{
    margin-left: 30px;
}
.blogheading p{
    font-size: 15px;
    color: gray;
}
nav {
    position: relative;
    z-index: 1000;
}